        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: white;
        }
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }
        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
        }
        article {
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 8px;
            padding: 2rem;
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
        }
        h1 {
            text-align: center;
            margin-bottom: 2rem;
        }
        .poem {
            white-space: pre-line;
            line-height: 1.6;
            font-size: 1.1rem;
        }
