.text {
    position: absolute;  
}
   #text1 {
    font: 300 xx-large "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  }
  #text2 {
    font: 300 xx-small "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    height:125px;width:125px;max-height:125px;overflow:hidden;
  }
  a {
    text-decoration:none;
    color:black;
  }
  body, html { margin: 0px;}
